.container{
    background: #f9f9f9;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 0px;
    padding-top: 0px;
}
.large-container{
    padding-left: 7%;
}
@media (max-width:900px) {
    .large-container, .container{
        padding-left: 5%;
        padding-right: 5%;
    }
}